<app-header title="About" i18n-title="@@About" returnButton="true" RouterLink="/"></app-header>

<div class="big-logo">
    <img src="assets/144x144.png">
</div>

<div class="version">
    <h4>XiangruiChat {{checkService.version}}</h4>
    <p>编译时间: <kbd>{{checkService.buildTime}}</kbd></p><br>
    <p>现在的版本: <kbd>{{checkService.version}}</kbd></p>
</div>

<div class="menu-holder"></div>

<div class="foot-text">
    <p>Copyright &copy; @2019 XiangruiSoft Corporation</p>
</div>
