﻿<app-header title="Add Friend" i18n-title="@@AddFriend" returnButton="true"></app-header>
<div class="search-part">
    <input placeholder="输入要搜索的好友昵称" type="text" #friendSearch (keyup)="search(friendSearch.value, 0)" />
</div>
<div class="search-holder"></div>

<div class="buttons" *ngIf="friendSearch.value.trim().length < 3 && friendSearch.value.trim().length > 0">
    <button *ngIf="!searching" class="button primary" (click)="search(friendSearch.value, 1)">搜索</button>
    <button *ngIf="searchMode == 1 && searching" class="button primary" disabled>搜索中 ...</button>
</div>

<h3 *ngIf="resultLength == 0">
    没有对应昵称的好友，请尝试更换好友名称.
</h3>

<div class="result" *ngFor="let user of users | async" routerLink="/user/{{ user.id }}">
    <img class="user-img" src="{{user.avatarURL ? user.avatarURL : loadingImgURL}}?w=80&h=80" />
    <div class="sender">
        {{user.nickName}}
    </div>
</div>

<div class="buttons" *ngIf="!noMoreUsers && resultLength > 0">
    <button *ngIf="!searching" class="button primary" (click)="search(friendSearch.value, 2)">加载更多</button>
    <button *ngIf="searchMode == 2 && searching" class="button primary" disabled>加载中...</button>
</div>
