﻿<div class="header-alert" *ngIf="initService.connecting">
    <div class="words" i18n="@@Disconnectedfromserver">
        <i class="fa fa-refresh fa-spin"></i>
        连接中 ...
    </div>
</div>
<router-outlet></router-outlet>