<app-header title="ChangePassword" returnButton="true" RouterLink="/"></app-header>
<form (ngSubmit)="onSubmit()" #changePwForm="ngForm">
    <div class="profile">
        <label>旧密码</label>
        <input [(ngModel)]="oldPassword" name="oldPw" type="password" autocomplete="current-password" minlength="6" maxlength="32" required #oldPw="ngModel" (ngModelChange)="checkValid()" />
    </div>
    <div class="profile">
        <label>新密码</label>
        <input [(ngModel)]="newPassword" name="newPw" type="password" autocomplete="new-password" minlength="6" maxlength="32" required #newPw="ngModel" (ngModelChange)="checkValid()" />
    </div>
    <div class="profile">
        <label>确认密码</label>
        <input [(ngModel)]="confirmPassword" name="confirmPw" type="password" autocomplete="new-password" minlength="6" maxlength="32" required #confirmPw="ngModel" (ngModelChange)="checkValid()" />
    </div>
    <div class="buttons">
        <button class="button primary" type="submit" [disabled]="!changePwForm.valid || !samePassword">更新密码</button>
    </div>
</form>