<app-header title="Create Group" i18n-title="@@CreateGroup" returnButton="true"></app-header>

<div class="search-part">
    <input name="groupName" [(ngModel)]="groupName" placeholder="输入要创建的群聊名称" type="text" #groupNameInput="ngModel" required minlength="3" maxlength="25"/>
    <div class="buttons">
        <button class="button primary" (click)="createGroup(false)">创建公开群聊[任何人都可以加入]</button>
    </div>
    <div class="buttons">
        <button class="button primary" (click)="createGroup(true)">创建私有群聊[必须有密码的人才可以进入]</button>
    </div>
</div>