<app-header></app-header>
<div class="discoverUsers result" *ngFor="let user of users" routerLink="/user/{{ user.value.id }}">
    <img class="user-img" src="{{user.value.avatarURL ? user.value.avatarURL : loadingImgURL}}?w=80&h=80" />
    <div class="sender">
        {{user.value.nickName}}
    </div>
    <p>{{ user.key }} common friends</p>
</div>

<div *ngIf="users && users.length == 0">
    <h3>
        搜索好友和群聊，然后继续.
    </h3>
    <div class="buttons">
        <button class="button primary" routerLink="/addfriend" replaceUrl>搜索用户</button>
    </div>
    <div class="buttons">
        <button class="button primary" routerLink="/join-group" replaceUrl>搜索群聊</button>
    </div>
</div>

<div class="buttons" *ngIf="!noMoreUsers">
    <button *ngIf="!loading" class="button primary" (click)="loadMore()">加载更多</button>
    <button *ngIf="loading" class="button primary" disabled>加载中 ...</button>
</div>
