﻿<app-header title="Friends" i18n-title="@@Friends" Button="true" ButtonIcon="plus" RouterLink="/addfriend"></app-header>

<div class="friends-header" id="main">
    <a class="friends-button" routerLink="/addfriend">
        <div class="icon">
            <i class="fa fa-user-plus"></i>
        </div>
        <div class="words" i18n="@@SearchFriend">
            搜索好友
        </div>
    </a>
    <a class="friends-button" routerLink="/friendrequests">
        <div class="icon">
            <i class="fa fa-check-square-o"></i>
            <div class="dot reddot" *ngIf="cacheService.totalRequests > 0 && cacheService.totalRequests < 100">
                {{cacheService.totalRequests}}
            </div>
            <div class="dot reddot" *ngIf="cacheService.totalRequests > 99">
                99+
            </div>
        </div>
        <div class="words" i18n="@@Requests">
            好友请求
        </div>
    </a>
    <a class="friends-button" routerLink="/join-group">
        <div class="icon">
            <i class="fa fa-user-plus"></i>
        </div>
        <div class="words" i18n="@@JoinGroup">
            加入群聊
        </div>
    </a>
    <a class="friends-button" (click)="createGroup()">
        <div class="icon">
            <i class="fa fa-users"></i>
        </div>
        <div class="words" i18n="@@CreateGroup">
            创建群聊
        </div>
    </a>
</div>
<div *ngFor="let info of cacheService.cachedData.friendList" class="friend" (click)="detail(info)">
    <img class="user-img" src="{{info.avatarURL ? info.avatarURL : loadingImgURL}}?w=72&h=72">
    <div class="name">
        {{info.displayName}}
    </div>
</div>

<app-nav></app-nav>
