<app-header title="Group Info" i18n-title="@@GroupInfo" returnButton="true"></app-header>
<div *ngIf="conversation" class="user">
    <img class="user-img" src="{{conversation.avatarURL ? conversation.avatarURL : loadingImgURL}}?w=100&h=100">
    <div class="name">
        {{conversation.displayName}}
    </div>
    <div class="create-time">
        创建时间: {{conversation.conversationCreateTime | date:'mediumDate'}}
    </div>
</div>

<div class="menu-holder"></div>
<div class="menu-button" routerLink="/talking/{{ conversation ? conversation.id : 0 }}">
    <div class="img">
        <i class="fa fa-comments"></i>
    </div>
    <div class="text" i18n="@@Message">消息</div>
</div>
<div class="menu-button" (click)="mute()">
    <div class="img">
        <i *ngIf="muted" class="fa fa-bell-slash"></i>
        <i *ngIf="!muted" class="fa fa-bell"></i>
    </div>
    <div class="text" i18n="@@Notification">Notification</div>
    <input id="toggleMute" class="tgl" type="checkbox" [checked]="!muted" (click)="mute()"/>
    <label for="toggleMute" class="tgl-btn"></label>
</div>
<div class="menu-holder"></div>
<div *ngIf="conversation">
    <div class="menu-button">
        <div class="img">
            <i class="fa fa-users"></i>
        </div>
        <div class="text" i18n="@@GroupMembers">{{ groupMembers }} 人</div>
    </div>
    <div class="friend" *ngFor="let e of conversation.users" routerLink="/user/{{ e.userId }}">
        <img class="user-img" src="{{e.user.avatarURL ? e.user.avatarURL : loadingImgURL}}?w=72&h=72">
        <div class="name">
            {{e.user.nickName}}
        </div>
    </div>
</div>
<div class="menu-holder"></div>
<div class="menu-button" (click)="leaveGroup(conversation.displayName)">
    <div class="img">
        <i class="fa fa-sign-out warning"></i>
    </div>
    <div class="text warning" i18n="@@LeaveGroup">离开群</div>
</div>
<div class="menu-holder"></div>

<div class="menu-holder"></div>
