<app-header title="Join Group" i18n-title="@@JoinGroup" returnButton="true"></app-header>

<div class="search-part">
    <input placeholder="输入要搜索的群聊名称" type="text" #groupSearch (keyup)="search(groupSearch.value, false)"/>
</div>
<div class="search-holder"></div>

<h3 *ngIf="resultLength == 0">
    没有对应名称的群聊，请尝试更换群聊名称
</h3>

<div class="result" *ngFor="let group of groups | async" (click)="joinGroup(group.groupName, group.hasPassword)">
    <div class="searchGroupIamge">
        <img class="user-img" src="{{group.avatarURL ? group.avatarURL : loadingImgURL}}?w=80&h=80" />
        <i class="fa fa-lock" aria-hidden="true" *ngIf="group.hasPassword"></i>
    </div>
    <div class="sender">
        {{group.groupName}}
    </div>
</div>

<div class="buttons" *ngIf="!noMoreGroups && resultLength > 0">
    <button *ngIf="!searching" class="button primary" (click)="search(groupSearch.value, true)">加载更多</button>
    <button *ngIf="searchMode && searching" class="button primary" disabled>加载中</button>
</div>
