
<div class="nav-bar-holder"></div>
<div class="nav-bar">
    <a class="nav-item" routerLink="/conversations" replaceUrl routerLinkActive="current">
        <div class="icon">
            <i class="fa fa-comment-o"></i>
            <div *ngIf="cacheService.totalUnread > 0 && cacheService.totalUnread < 100" class="dot reddot">
                {{cacheService.totalUnread}}
            </div>
            <div *ngIf="cacheService.totalUnread > 99" class="dot reddot">
                99+
            </div>
        </div>
        <div class="words" i18n="@@Kahla">
            主页
        </div>
    </a>
    <a class="nav-item" routerLink="/friends" replaceUrl routerLinkActive="current">
        <div class="icon">
            <i class="fa fa-address-book-o"></i>
            <div *ngIf="cacheService.totalRequests > 0 && cacheService.totalRequests < 100" class="dot reddot">
                {{cacheService.totalRequests}}
            </div>
            <div *ngIf="cacheService.totalRequests > 99" class="dot reddot">
                99+
            </div>
        </div>
        <div class="words" i18n="@@Friends">
            好友
        </div>
    </a>

    <a class="nav-item" routerLink="/settings" replaceUrl routerLinkActive="current">
        <div class="icon">
            <i class="fa fa-user-o"></i>
        </div>
        <div class="words" i18n="@@Me">
            我
        </div>
    </a>
</div>
