<div class="signin-back">
    <div class="auth-page">
        <div class="auth-header">
            <img src="assets/KahlaWhite.png">
            <h1 i18n="@@Kahla">XiangruiChat</h1>
        </div>
        <div class="auth-content">
            <div class="selector mode register">
                <div class="column">
                    <a class="btn" routerLink="/signin" i18n="@@LogIn">登录</a>
                </div>
                <div class="column">
                    <a class="btn" routerLink="/register" i18n="@@Register">注册</a>
                </div>
            </div>
            <form (ngSubmit)="register()" #registerForm="ngForm">
                <input [(ngModel)]="email" name="email" type="email" i18n-placeholder="@@Email" placeholder="邮箱" autocomplete="email" required #emailInput="ngModel" email>
                <div class="alert" [hidden]="emailInput.valid || emailInput.pristine">不正确的邮箱!</div>
                <input [(ngModel)]="password" name="password" type="password" minlength="6" maxlength="100" i18n-placeholder="@@Password" placeholder="密码" autocomplete="new-password" required #passwordInput="ngModel" (ngModelChange)="checkSame()">
                <div class="alert" [hidden]="passwordInput.valid || passwordInput.pristine">密码的长度应是 4 - 100</div>
                <input [(ngModel)]="confirmPassword" id="confirmInput" name="confirmPassword" minlength="6" maxlength="100" type="password" i18n-placeholder="@@ConfirmPassword" placeholder="确认密码" autocomplete="new-password" (keyup.enter)="register()" (ngModelChange)="checkSame()" required #confirmInput="ngModel">
                <div class="alert" [hidden]="samePassword || confirmInput.pristine">确认密码和密码不匹配.</div>
                <button *ngIf="!connecting" [disabled]="!registerForm.form.valid || !samePassword" class="button white" i18n="@@Register" type="submit">注册</button>
                <button *ngIf="connecting" class="button white" i18n="@@Registering" type="button">注册中...</button>
            </form>
        </div>
    </div>
</div>
