<app-header title="Me" i18n-title="@@Me"></app-header>

<div class="user" routerLink="/userInfo">
    <img class="user-img" src="{{GetMe() ? GetMe().avatarURL : loadingImgURL}}?w=100&h=100">
    <div class="name">
        {{GetMe() ? GetMe().nickName : "Loading..."}}
    </div>
    <div class="create-time">
        <ng-container i18n="@@RegisterTime">
            注册时间:
        </ng-container>
        <ng-container *ngIf="GetMe()">
            {{GetMe().accountCreateTime | date:'M/d/yy h:mm a'}}
        </ng-container>
    </div>
</div>
<div class="menu-holder"></div>
<div class="menu-button" routerLink="/changepassword">
    <div class="img">
        <i class="fa fa-lock" aria-hidden="true"></i>
    </div>
    <div class="text">修改密码</div>
</div>

<div class="menu-button" routerLink="/discover">
    <div class="img">
        <i class="fa fa-random "></i>
    </div>
    <div class="text" i18n="@@Discover">发现好友</div>
</div>

<div class="menu-button" (click)="SendReport()">
    <div class="img">
        <i class="fa fa-send"></i>
    </div>
    <div class="text" i18n="@@PublishBug">错误报告</div>
</div>

<div class="menu-button" (click)="SendReportMessage()">
    <div class="img">
        <i class="fa fa-send"></i>
    </div>
    <div class="text" i18n="@@PublishBug">发送需求反馈</div>
</div>

<div class="menu-button">
    <div class="img">
        <i class="fa fa-download"></i>
    </div>
    <div class="text" i18n="@@DownloadNotifyApplication"><a href="/app-release.apk">下载消息提醒APP[非必须, 推荐使用]</a></div>
</div>

<div class="menu-button" routerLink="/about">
    <div class="img">
        <i class="fa fa-server"></i>
    </div>
    <div class="text" i18n="@@AboutKahla">关于</div>
</div>
<div class="menu-holder"></div>
<div class="buttons">
    <button class="button warning" (click)="SignOut()" i18n="@@Signout">退出</button>
</div>


<app-nav></app-nav>
