<div class="signin-back">
    <div class="auth-page">
        <div class="auth-header">
            <img src="assets/KahlaWhite.png">
            <h1 i18n="@@Kahla">XiangruiChat</h1>
        </div>
        <div class="auth-content">
            <div class="selector mode">
                <div class="column">
                    <a class="btn" routerLink="/signin" i18n="@@LogIn">登录</a>
                </div>
                <div class="column">
                    <a class="btn" routerLink="/register" i18n="@@Register">注册</a>
                </div>
            </div>
            <form (ngSubmit)="signin()" #loginForm="ngForm">
                <input [(ngModel)]="email" name="email" type="email" i18n-placeholder="@@Email" placeholder="邮箱" autocomplete="email" required #emailInput="ngModel" email>
                <div class="alert" [hidden]="emailInput.valid || emailInput.pristine">不正确的邮箱!</div>
                <input [(ngModel)]="password" name="password" type="password" minlength="6" maxlength="100" i18n-placeholder="@@Password" placeholder="密码" autocomplete="current-password" (keyup.enter)="signin()" required #passwordInput="ngModel">
                <div class="alert" [hidden]="passwordInput.valid || passwordInput.pristine">密码的长度应是 4 - 100.</div>
                <button *ngIf="!connecting" [disabled]="!loginForm.form.valid" class="button white" i18n="@@LogIn" type="submit">
                    登录
                </button>
                <button *ngIf="connecting" disabled="disabled" class="button white" i18n="@@Connecting" type="button">
                    登陆中...
                </button>
            </form>
        </div>
    </div>
</div>
