<app-header title="Profile" i18n-title="@@Profile" returnButton="true"></app-header>
<div *ngIf="info" class="user">
    <a href="{{info.avatarURL ? info.avatarURL : loadingImgURL}}" target="_blank">
        <img class="user-img" src="{{info.avatarURL ? info.avatarURL : loadingImgURL}}?w=100&h=100">
    </a>
    <div class="name">
        {{info.nickName}}
    </div>
    <div class="create-time">
        个性签名: {{info.bio}}
        <!-- Register Time: {{user.accountCreateTime | date:'shortDate'}} {{user.accountCreateTime | date:'shortTime'}} -->
    </div>
</div>

<div class="menu-holder"></div>
<div class="menu-button" (click)="report()" *ngIf="info && messageService.me && info.id != messageService.me.id">
    <div class="img">
        <i class="fa fa-gavel "></i>
    </div>
    <div class="text" i18n="@@Report">报告</div>
</div>
<div class="menu-button" *ngIf="info && messageService.me && areFriends && info.id != messageService.me.id" (click)="delete(info.id)">
    <div class="img">
        <i class="fa fa-trash warning"></i>
    </div>
    <div class="text warning" i18n="@@Delete">删除</div>
</div>
<div class="menu-holder"></div>

<div class="buttons">
    <button class="button success" *ngIf="info && !areFriends" (click)="request(info.id)" i18n="@@SendFriendRequest">发送好友请求</button>
    <button class="button success" *ngIf="info && areFriends"  routerLink="/talking/{{ conversationId }}" i18n="@@Message">消息</button>
</div>
