<app-header title="Edit profile" returnButton="true" RouterLink="/"></app-header>
<div *ngIf="user">
  <div class="profile">
    <label>昵称</label>
    <input [(ngModel)]="user.nickName" placeholder="输入您新的昵称" type="text" (keyup.enter)="save()" />
  </div>
  <div class="profile">
    <label>个性签名</label>
    <input [(ngModel)]="user.bio" placeholder="输入您新的个性签名" type="text" (keyup.enter)="save()" />
  </div>
  <div class="profile avatar">
    <label>头像</label>
    <div class="grid">
      <img class="user-img" src="{{user.avatarURL ? user.avatarURL : loadingImgURL}}?w=100&h=100">
      <label id="upload" class="button primary inputButton" for="image">上传新的头像</label>
      <input type="file" name="image" id="image" #imageInput (change)="uploadAvatar()" accept="image/png, image/jpeg, image/bmp" />
    </div>
  </div>
  <div class="buttons">
    <button id="save" class="button primary" (click)="save()" i18n="@@save">保存</button>
  </div>
</div>
<progress *ngIf="uploadService.uploading" max="100" value={{uploadService.progress}}></progress>
